body {
      text-align: center
    }
}
h1 {
    color:rgb(18, 44, 214);
    text-align: center;
    
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center
}

a {
    margin-left: 10px;
}
